@media (max-width: 768px) {
  .lg\:grid-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .lg\:col-span-6 {
    grid-column: span 12 / span 12;
  }

  .lg\:order-2 {
    order: initial;
  }

  .lg\:mr-8, .lg\:ml-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .lg\:mt-0 {
    margin-top: 2rem;
  }

  .lg\:text-left {
    text-align: center;
  }

  .lg\:items-center {
    align-items: flex-start;
  }

  .lg\:gap-16 {
    gap: 2rem;
  }
}
